SonicProcessing/Receive/macos-x86_64/SonicProcessing.app/Contents/PlugIns/jdk-17.0.8+7/Contents/Home/lib/modules
SonicProcessing/Receive/macos-x86_64/SonicProcessing.app/Contents/PlugIns/jdk-17.0.8+7/Contents/Home/lib/modules
SonicProcessing/Receive/macos-x86_64/SonicProcessing.app/Contents/PlugIns/jdk-17.0.8+7/Contents/Home/lib/modules
